<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="rte">
        {% comment %} {{ page.content }} {% endcomment %}
        <div class="collection-grid">
          <div class="row">
            <div class="text-block">
              <h1>Wendy Vu</h1>
              aka "emovu" is a visual artist based in Toronto. 
              She expresses her emotions and past traumas through multimedia 
              that invokes feelings of loneliness, nostalgia, reminiscence and 
              isolation. Her experiences with love and friendship inspire her
              work, which she uses as a healing process and a way to communicate 
              with others. Her best friend introduced her to photography in 2014, leading
              her to pursue her passion for photography and film. After losing her best
              friend, Wendy continued to push through and keep creating 
              content — making the act creating the source of her happiness.
            </div>
          </div>
          <div class="row">
            <div class="image image-1 portrait"></div>
            <div class="image image-2 portrait"></div>
          </div>
          <div class="row">
            <div class="text-block">
              <h1>Dead Memories</h1>
              “The image on the t-shirt is a photo that I took of my best friend about 1 
              year ago at Dundas station. It was our first year in post-secondary and we 
              both managed to find some time to hang out and shop at downtown. We bought 
              so many things and ate good food. It was a chilly night at City Hall, I took 
              many photos of her and we caught up for a bit. It was late so we left and I took 
              that photo of her when I called her name. It was a memorable day that I wish 
              I could experience again. Those memories are probably dead to you but remember 
              we were there to listen to each other as always and that it still means something 
              to me. I am also the reason why those memories are dead in the first place.”
            </div>
          </div>
          <div class="row">
            <div class="image image-1 portrait"></div>
            <div class="image image-2 portrait"></div>
          </div>
          <div class="image full-width"></div>
        </div>
      </div>
    </div>
  </div>
</div>
